body{
    font-family: Arial;
}
#top-nav {
    display: flex;
    justify-content: space-between;   
}

h1,
h2 {
    font-size: 400%;
}
p {
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}

header a ,
#return-home a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#options{
    display: flex;
    flex-direction: column; 
    
}

#submission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 60%;
    
}

button {
    background-color: green;
    color: white;
    width: fit-content;
    border-radius: 10px; 
    font-size: 150%; 
    margin-bottom: 7px; 
}

button:hover {
    cursor: pointer;
}


.hidden {
    display: none;
}

#highscores li:nth-child(odd){
    background-color: lightgreen;
    text-align: left;
}


